#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

#xAxis text,
#yAxis text {
    font-size: 14px;

}

#bar-chart {
    width: 500px;
    margin-right: 20px;
    float: left;

}

.view {
    padding: 0.5em;

}

body{
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 300;
  padding: 20px;
}

thead td , th{
    cursor: s-resize;
}

g .label{
  text-align: right;
}

#selected_up th::before{
  content: '\25B4';
}

#selected_down td::before{
  content: '\25BE';
}

#header tr {background-color: #779FB6;}

tr:nth-of-type(odd) {
  background-color: #eee;
}

th{
  text-align: left;
}

th, td {
  padding: 0.2 0.2em 0.5ex 0;
}

th.center, td.center {
  text-align: center;
}

th.right, td.right {
  text-align: right;
}

table{
  width: 70%;
  border: 1px;
  /* border-collapse: collapse; */
}

#checkbox {
    display: inline-block;
}

tr:hover td { background-color: #FFA500; }

table, th, td { border: 1px solid lightgray; }

table {
  border-collapse: collapse;
}

table th:not((.asc):not(.desc):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

li { cursor: pointer; }

rect{
  fill:teal;
  fill-opacity:.8
}

svg {
  margin: 20px auto;
}
