body{
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 300;
  padding: 20px;
}

tr:nth-of-type(odd) {
  background-color: #eee;
}

th{
  text-align: left;
}

th, td {
  padding: 0 1em 0.5ex 0;
}

th.center, td.center {
  text-align: center;
}

th.num, td.num {
  text-align: right;
}

table{
  width: 70%;
  border: 1px;
  /* border-collapse: collapse; */
}

table th:not((.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
